<footer>
 <nav>
    <ul>
     <li>
        <input type="button" class="img-button1">
     </li>
     <li>
        <input type="button" class="img-button2">
    </li>
     <li>
        <input type="button" class="img-button3">
    </li>
    </ul>
    </nav>
</footer>