<footer id="footer">
 <nav>
    <ul>
     <li>
        <a href="/index">
        <input type="button" class="img-button1">
        </a>
     </li>
     <li>
        <a href="/index">
        <input type="button" class="img-button2">
      </a>
    </li>
     <li>
        <a href="/student/show">
        <input type="button" class="img-button3">
        </a>
    </li>
    </ul>
    </nav>
</footer>

<script>
      $(document).ready(function(){
         var path= $(location).attr('pathname');


           if (path == "/index") {

              $('.img-button2').css("opacity","1");
           }

           if (path == "/student/show") {

              $('.img-button3').css("opacity","1");
           }

           if (path != "/index" && path != "/student/show") {
             $('#footer').css("display","none");
           }

      });
  
   </script>