<header id="header" style="display: flex;">
    <div class = "back">
        <a id="goback" href="">
           <input type="button" class="backarrow">
        </a>
    </div>
 <p id="title">fuck</p>
 <div class = "push"></div>
</header>

<script>

    $(document).ready(function(){
        var path= $(location).attr('pathname');
        if (path == "/index") {         
           $('.back').css("display","none");
           $('.push').css("display", "none");
        }
        if (path == "/student/show") {
            $("#goback").attr("href", "/index");
            $("#title").text("계정정보 수정");
        }
    });



 </script>