<head>
    <title>시간표 추천 서비스</title>
    <meta charset="utf-8">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href = "css/create.css"  type = "text/css" />
</head>