<header id="header" style="display: flex;">
    <div class = "back">
           <button onclick="history.back()" class="backarrow";>
    </div>
 <p id="title">fuck</p>
 <div class = "push"></div>
</header>

<script>

    $(document).ready(function(){
        var path= $(location).attr('pathname');
        if (path == "/index") {     
           $('.back').css("display","none");
           $('.push').css("display", "none");
           $("#title").text("2019학년도 2학기");
        }
        if (path == "/student/show") {
            $('.back').css("display","none");
            $('.push').css("display", "none");
            $("#title").text("계정정보 수정");
        }
        if (path == "/student/show/\d") {
            $('.back').css("display","none");
            $('.push').css("display", "none");
            $("#title").text("얍");
        }
    });



 </script>