<form action="/condition/create" method="post">
  <h2>조건 입력</h2>
  <div class="container" style="display: flex;flex-direction:column;">
  	<div class="stylebox">
	  <select name="totalCredit">
	    <option value="">이번 학기 총 이수 학점</option>
	    <option value="1">3 학점 이하</option>
	    <option value="2">4 ~ 6 학점</option>
	    <option value="3">7 ~ 9 학점</option>
	    <option value="4">10 ~ 12 학점</option>
	    <option value="5">13 ~ 15 학점</option>
	    <option value="6">16 ~ 18 학점</option>
	    <option value="7">19 ~ 21학점</option>
	    <option value="8">22 학점 이상</option>
	  </select>
	  <br>
	</div>
	<div class="stylebox">
		<p style="float:left"><input type="text" name="majorCredit" placeholder="전공 학점"></p>
  		<p style="float:left"><input type="text" name="generalCredit" placeholder="교양 학점"></p>
	</div>
	<div class="stylebox" style="display: flex;flex-direction:column;">
		<div>
			<p>공강 요일</p>
		</div>
		<div style="display: flex;"">
			<p><input type="checkbox" name="noclassDay" value="mon">월</p>
	  		<p><input type="checkbox" name="noclassDay" value="tue">화</p>
	  		<p><input type="checkbox" name="noclassDay" value="wed">수</p>
	  		<p><input type="checkbox" name="noclassDay" value="wed">목</p>
	  		<p><input type="checkbox" name="noclassDay" value="wed">금</p>
		</div>
	</div>
	<div class="stylebox" style="display: flex;flex-direction:column;">
		<div>
			<p>과목 고정</p>
		</div>
		<div style="display: flex;">
			
	  		<p>검색창</p>
		</div>
	</div>


	  <p>
	    <input type="submit">
	  </p>
  </div>
</form>