<h1>조건 입력 완료</h1>
<% layout('../layout/layout')%>
<div class="wrap">
  <!-- 시간표 1 -->
  <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">월</th>
          <th scope="col">화</th>
          <th scope="col">수</th>
          <th scope="col">목</th>
          <th scope="col">금</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1교시</th>
        </tr>
        <tr>
          <th scope="row">2교시</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3교시</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
        <tr>
          <th scope="row">4교시</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
        <tr>
          <th scope="row">5교시</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
        <tr>
          <th scope="row">6교시</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
  </table>
  <button class="timetable-select">선택하기</button>
  <!-- // 시간표 1 -->
  <!-- 시간표 2 -->
  <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">월</th>
          <th scope="col">화</th>
          <th scope="col">수</th>
          <th scope="col">목</th>
          <th scope="col">금</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1교시</th>
        </tr>
        <tr>
          <th scope="row">2교시</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3교시</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">4교시</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
        <tr>
          <th scope="row">5교시</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
        <tr>
          <th scope="row">6교시</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
  </table>
  <button class="timetable-select">선택하기</button>
  <!-- // 시간표 2 -->
  <!-- 시간표 3 -->
  <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">월</th>
          <th scope="col">화</th>
          <th scope="col">수</th>
          <th scope="col">목</th>
          <th scope="col">금</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1교시</th>
        </tr>
        <tr>
          <th scope="row">2교시</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3교시</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
        <tr>
          <th scope="row">4교시</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
        <tr>
          <th scope="row">5교시</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">6교시</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
      </tbody>
  </table>
  <button class="timetable-select">선택하기</button>
  <!-- // 시간표 3 -->
</div>
