body {
    margin: auto;
}

header {
    height: 57px;
    display: flex;
}

header p {
    font-size: 14px;    
    margin: auto;
    color: #ef5757;
    font-weight: bold;
}

footer {
    position: fixed;
    width: 375px;
    height: 46px;
    display: flex;
    background-color: #ef5757;
}

footer p {
    font-size: 14px;
    margin: auto;
    color: white;
    font-weight: bold;
}

.container1 {
    margin: auto;
    height: 593px;
}

.container2 {
    margin: auto;
    height: 593px;
}

.container3 {
    margin: auto;
    height: 593px;
}

#selected-subjects {
    height: 324px;
}

.container2 input[type="text"] {
    width: 295px;
    height: 48px;
    border-radius: 24px;
    border: 2px solid #ff9494;
    text-indent: 20px;
    margin-bottom: 16px;
    color: #ef5757;
    box-sizing:border-box;
    display: flex;

    background: url('../icon/Search.svg') no-repeat 93% 50%;
    -moz-appearance: none;
    -webkit-appearance: none; 
}

.stylebox1 {
    margin: auto;
    display: flex;
}

.input1 {
    display: flex;
    margin-right: 16px;
}

.input2 {
    display: flex;
    margin-left: 16px;
}

.input1 input[type="text"] {
    text-align: center;
    text-indent: 0px;
    width: 111px;
    margin-right: 5px;
}

.input2 input[type="text"] {
    text-align: center;
    text-indent: 0px;
    width: 111px;
    margin-right: 5px;
}

.checkbox {
    margin: 10px auto 20px auto;
}

.checkboxSU {
    margin: 10px auto auto auto;
}

.checkbox p {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
    color: #ff9494;
}

.checkboxSU p {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
    color: #ff9494;
}

.checkbox1 {
    display: flex;
    margin-right: 14px;
    vertical-align: middle;
}

.checkbox2 {
    display: flex;
    margin-left: 14px;
    margin-right: 14px;
}

.checkbox3 {
    display: flex;
    margin-left: 14px;
}


.button {
    font-size: 15px;
    color: white;
    font-weight: bold;
    border-radius: 24px;
    width: 295px;
    height: 48px;
    border: none;
    background-color: #ef5757;
    display: block;
    margin-bottom: 35px;
    line-height: 46px;
    text-decoration: none;
}

h1 {
    color: #ef5757;
    text-align: center;
}

button {
    font-size: 15px;
    color: white;
    font-weight: bold;
    width: 295px;
    height: 48px;
    border-radius: 24px;
    border: none;
    background-color: #ef5757;
    margin-top: 20px;
    margin-bottom: 35px;
}

h2 {
    margin: 46px;
    font-size: 20px;
    color: #ef5757;
    text-align: center;
}

h3 {
    font-size: 15px;
    text-align: left;
    text-indent: 40px;
    color: #ef5757;
    margin-top: 0px;
    margin-bottom: 7px;
}

p {
    color: #ef5757;
}

select {
    text-indent: 20px;
    width: 295px;
    height: 48px;
    margin-bottom: 16px;
    border: 2px solid #ff9494;
    border-radius: 24px;
    color: #ef5757;
    background-color: white;

    background: url('../icon/arrow.svg') no-repeat 100% 50%;
    -moz-appearance: none;
    -webkit-appearance: none; 

}

input[type="text"] {
    width: 295px;
    height: 48px;
    border-radius: 24px;
    border: 2px solid #ff9494;
    text-indent: 20px;
    margin-bottom: 16px;
    color: #ef5757;
    box-sizing:border-box;
    display: flex;
}


input[type="submit"] {
    font-size: 15px;
    color: white;
    font-weight: bold;
    width: 295px;
    height: 48px;
    border-radius: 24px;
    border: none;
    background-color: #ef5757;
    margin-top: 20px;
    margin-bottom: 35px;
}


input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 2px solid #ff9494;
    font-size: 15px;
    font-weight: bold;
    color: #ef5757;
    margin-top: 3px;
}

input[type="checkbox"]:checked + label {
	background-color: #ff9494;
}