body {
    margin: auto;
}

header {
    height: 57px;
    display: flex;
}

header p {
    font-size: 14px;    
    margin: auto;
    color: #ef5757;
    font-weight: bold;
}

footer {
    height: 46px;
    display: flex;
    background-color: #ef5757;
}

footer p {
    font-size: 14px;
    margin: auto;
    color: white;
    font-weight: bold;
}

.container1 {
    margin: auto;
    width: 375px;
    height: 593px;
}

.container2 {
    margin: auto;
    width: 375px;
    height: 593px;
}

.container3 {
    margin: auto;
    width: 375px;
}

#selected-subjects {
    height: 324px;
}

.sub-search {
    width: 295px;
    height: 48px;
    border-radius: 24px;
    border: 2px solid #ff9494;
    margin-bottom: 16px;
    color: #ef5757;
    box-sizing: border-box;
    display: flex;
    background: url('../icon/Search.svg') no-repeat 93% 50%;
    -moz-appearance: none;
    -webkit-appearance: none; 
}


.stylebox1 {
    margin: auto;
    display: flex;
}

.input1 {
    display: flex;
    margin-right: 16px;
}

.input2 {
    display: flex;
    margin-left: 16px;
}

.input1 input[type="text"] {
    text-align: center;
    text-indent: 0px;
    width: 111px;
    margin-right: 5px;
}

.input2 input[type="text"] {
    text-align: center;
    text-indent: 0px;
    width: 111px;
    margin-right: 5px;
}

.checkbox {
    margin: 10px auto 20px auto;
}

.checkboxSU {
    margin: 10px auto auto auto;
}

.checkbox p {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
    color: #ff9494;
}

.checkboxSU p {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
    color: #ff9494;
}

.checkbox1 {
    display: flex;
    margin-right: 14px;
    vertical-align: middle;
}

.checkbox2 {
    display: flex;
    margin-left: 14px;
    margin-right: 14px;
}

.checkbox3 {
    display: flex;
    margin-left: 14px;
}


.button {
    font-size: 15px;
    color: white;
    font-weight: bold;
    border-radius: 24px;
    width: 295px;
    height: 48px;
    border: none;
    background-color: #ef5757;
    display: block;
    margin-bottom: 35px;
    line-height: 46px;
    text-decoration: none;
}

h1 {
    color: #ef5757;
    text-align: center;
}

button {
    font-size: 15px;
    color: white;
    font-weight: bold;
    width: 295px;
    height: 48px;
    border-radius: 24px;
    border: none;
    background-color: #ef5757;
    margin-top: 20px;
    margin-bottom: 35px;
}

h2 {
    margin: 46px;
    font-size: 20px;
    color: #ef5757;
    text-align: center;
}

h3 {
    font-size: 15px;
    text-align: left;
    text-indent: 40px;
    color: #ef5757;
    margin-top: 0px;
    margin-bottom: 7px;
}

p {
    color: #ef5757;
}

select {
    text-indent: 20px;
    width: 295px;
    height: 48px;
    margin-bottom: 16px;
    border: 2px solid #ff9494;
    border-radius: 24px;
    color: #ef5757;
    background-color: white;

    background: url('../icon/arrow.svg') no-repeat 100% 50%;
    -moz-appearance: none;
    -webkit-appearance: none; 

}

input[type="text"] {
    width: 295px;
    height: 48px;
    border-radius: 24px;
    border: 2px solid #ff9494;
    text-indent: 20px;
    margin-bottom: 16px;
    color: #ef5757;
    box-sizing:border-box;
    display: flex;
}

.container2 input[type="text"] {
    border: none;
    text-indent: 20px;
    width: 230px;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: auto auto auto 5px;;
}

input[type="password"] {
    width: 295px;
    height: 48px;
    border-radius: 24px;
    border: 2px solid #ff9494;
    text-indent: 20px;
    margin-bottom: 16px;
    color: #ef5757;
    box-sizing:border-box;
    display: flex;
}


input[type="submit"] {
    font-size: 15px;
    color: white;
    font-weight: bold;
    width: 295px;
    height: 48px;
    border-radius: 24px;
    border: none;
    background-color: #ef5757;
    margin-top: 20px;
    margin-bottom: 35px;
}


input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 2px solid #ff9494;
    font-size: 15px;
    font-weight: bold;
    color: #ef5757;
    margin-top: 3px;
}

input[type="checkbox"]:checked + label {
	background-color: #ff9494;
}

*:focus {
    outline: none;
}

.sublist {
    text-align: center;
    text-indent: 0px;
    font-weight: bold;
    margin: 10px auto 10px auto;
}

.selsub {
    width: 240px;
    height: 30px;
    font-weight: normal;
    background: url('../icon/No.svg') no-repeat 96% 50%;
    border-radius: 24px;
    border: 2px solid #ef5757;
    margin: 10px auto;
    display: flex;

}

p.selected-sub {
    padding-left: 15px;
    text-align: left;
    font-size: 15px;
    width: 190px;
    height: 30px;
    margin-left: 0px;
    margin-top: 3px;
    margin-bottom: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}