<% layout('layout/layout')%>

<div class = "container1" style="width: 95%; background-color: #ffd2d2; margin-top: 50px; display: flex;
 margin-top: 50px;justify-content: center;align-items: center;">
  <div style="margin:auto 0px;">
    <p style="text-align: center; font-weight:bold; margin: 20px;">아직 추천받은 시간표가<br>
    없습니다.</p>
    <div style="display: flex; margin: auto; width: 110px; height: 35px; border-radius: 5px; background-color: #ef5757;
    justify-content: center; align-items: center;">
      <a href="/student/create">
       <p style="text-align: center; margin: 0px; color:white; font-weight:bold;">시간표 추천</p>
      </a>
    </div>
  </div>
</div>

<h1>시간표 추천 서비스</h1>
<div class = "container1">
   <a href="/student/data_insert">Test data Insert</a>
  <a href="/student/create">시작하기</a>
  <a href="/student/show">학생 정보 보기</a>
</div>

<script>
    $(document).ready(function(){
       var path= $(location).attr('pathname');
       if (path == "/index") {
          $('.img-button1').css("opacity","0.5");
          $('.img-button2').css("opacity","0.5");
          $('.img-button3').css("opacity","0.5");
       }
    });

      $(document).ready(function(){
         var path= $(location).attr('pathname');
         if (path == "/student/create") {
            $('.img-button1').css("opacity","0.5");
            $('.img-button2').css("opacity","1");
            $('.img-button3').css("opacity","0.5");
         }
      });

 </script>
