<% layout('layout/layout')%>

<div>
   <a href="/student/data_insert">Test data Insert</a>
</div>

<div class = "container1" style="width: 95%; background-color: #ffd2d2; margin-top: 50px; display: flex;
 margin-top: 50px;justify-content: center;align-items: center;">
  <div style="margin:auto 0px;">
    <p style="text-align: center; font-weight:bold; margin: 20px;">아직 추천받은 시간표가<br>
    없습니다.</p>
    <div style="display: flex; margin: auto; width: 110px; height: 35px; border-radius: 5px; background-color: #ef5757;
    justify-content: center; align-items: center;">
      <a href="/student/create">
       <p style="text-align: center; margin: 0px; color:white; font-weight:bold;">시간표 추천</p>
      </a>
    </div>
  </div>
</div>