<% layout('layout/layout')%>
<h3>시간표의 기믹</h3>
<form action="/auth/login_process" method="post">
    <table>
        <tr>
            <td>이메일 : </td>
            <td><input type="text" name="email" placeholder=""></td>
        </tr>
        <tr>
            <td>비밀번호 : </td>
            <td><input type="password" name="pwd" placeholder="소중한비밀번호"></td>
        </tr>
        <tr>
          <td><input type="submit" value="login"></td>
        </tr>
    </table>
</form>