<% layout('layout/layout')%>


<form action="/auth/login_process" method="post">
    <div class = "container1" align = "center">
     <h2>시간표의 기믹</h2>
        <h3>이메일</h3>
        <input type="text" name="email" placeholder="">
        <div class = "password">
        <h3>비밀번호</h3>
        <input type="password" name="pwd" placeholder="소중한비밀번호">
        <input type="submit" value="login">
        </div>
    </div>
</form>