<% layout('layout/layout')%>

<form action="/auth/login_process" method="post">

      <div class = "head-container">
         <h2 style="font-size: 25px; font-weight: bold; margin-top: 0px; margin-bottom: 10px; color: white;">맞춤 시간표 추천 : 시추</h2>
      </div>
         <h3 style="font-weight: bold; text-indent: 0px; text-align: center; margin: 80px 0px 0px 0px;">시간표의 신세계를 경험하세요</h3>
      <div class = "login-container" align = "center">
        <div style="margin-top: 60px;">
           <h3>이메일</h3>
           <input type="text" name="email" placeholder="id@example.com">
           <h3>비밀번호</h3>
           <input type="password" name="pwd" placeholder="password">
           <input type="submit" value="로그인">
        </div>
    </div>
</form>

<script>
   $(document).ready(function(){
      var path= $(location).attr('pathname');
      if (path == "/") {
         $('#header').css("display","none");
         $('body').css("padding-top","0px");
         $('#footer').css("display","none");
      }
   });
</script>
