<% layout('../layout/layout')%>

<h2>이수과목 입력</h2>
  <div class = "container2" align = "center">
    <div>
      <div class = "sub-search">
        <input id="subjects" type="text" />
      </div>
      <button id="click">추가하기</button>
    </div>
    <h3 class = "sublist">이수과목 리스트</h3>
    <div id="selected-subjects" style="margin-bottom: 40px;"></div> 
    <a href="/student/<%=id%>/condition/create" id="skip" class="button" style="background-color: white; border: 2px solid #ef5757; color: #ef5757">넘어가기</a>
    <a id="subject-array" class="button" style="color: white;">저장</a>
  </div>

<script>

  $(document).ready(function(){
    var subjects='<%=subjects%>';
    var subjects = subjects.split(',');
    $("#subjects").autocomplete({
      source: subjects,
      select: function(event, ui){
        console.log(ui.item);
      },
      focus: function(event, ui){
        return ui.item;
      }
    })
  });

  var selected=[];
  var path = $(location).attr('pathname')+'/';

  $("#click").on("click", function () {
    var newSelected = $("#subjects").val();
    var thehtml = '<div class = "selsub" id='+newSelected+'><p class="selected-sub">' + $("#subjects").val()+'</p></div>';
    var selectedItems = $('#selected-subjects').html();

    if(selectedItems.indexOf(newSelected) === -1){
      $('#selected-subjects').append(thehtml);

      path=path+newSelected+',';

      $('a#subject-array').attr('href',path);
    }else{
      alert("Already selected!");
    }
 
    $("#auto").val('');
  });


   $(document).on('click','.selsub', function() {

      var deleteItem = $(this).attr('id');

      console.log(path);
      console.log(deleteItem);

      var newpath = path.replace('' + deleteItem + ',','');
      
      console.log(newpath);

      path = newpath;


      $('a#subject-array').attr('href',path);


      $(this).remove();

  });

</script>